<% @movie_data.each do |movie| %>
  <%= link_to movies_path(movie_id: movie['id']), method: 'post', remote: true do %>
    <div data-movie-title='<%= movie['title'] %>' class="movie-card">
      <% @movie_post_url = "http://image.tmdb.org/t/p/w185#{movie['poster_path']}" %>
      <div class="movie_poster"><%= image_tag @movie_post_url %></div>
      <div class="movie_title"><%= movie['title'] %></div>
      <div class="movie_date"><%= movie['release_date'][0..3] %></div>
    </div>
  <% end %>
<% end %>