<% if !@movie_data.empty?%>
  <div id='slider' class="owl-carousel owl-theme" style="display: block; opacity: 1;">
    <div class="owl-wrapper-outer">
      <div class="owl-wrapper grabbing" style="display: block; transition: all 0ms ease; -webkit-transition: all 0ms ease;">
        <% @movie_data.each_with_index do |movie, i| %>
            <div class="owl-item">
              <div class="item">
                <%= link_to movies_path(movie_id: movie['id']), method: 'post', remote: true do %>
                  <div data-movie-title="<%= movie['title'] %>" class="movie-card">
                    <% if movie['poster_path'] %>
                      <% @movie_post_url = "http://image.tmdb.org/t/p/w185#{movie['poster_path']}" %>
                    <% else %>
                      <% @movie_post_url = "https://s1.yimg.com/os/mit/media/m/entity/images/movie_placeholder-e0ca244.png" %>
                    <% end %>
                    <div class="movie_poster"><%= image_tag @movie_post_url, class: 'img-responsive'%></div>
                    <div class="movie_title"><%= movie['title'] %></div>
                    <div class="movie_date"><%= movie['release_date'][0..3] %></div>
                  </div>
                <% end %>
              </div>
            </div> <!--closes owl item-->            
        <% end %>
      </div> <!--closes owl-wrapper grabbing-->
    </div> <!--closes class=owl-wrapper-outer-->
    <div class="owl-controls clickable">
      <div class="owl-pagination">
        <div class="owl-page active">
          <span class></span>
        </div>
        <div class="owl-page">
          <span class></span>
        </div>
      </div>
    </div>
  </div> <!--closes id=slider-->
<% else %>
  <h1>THAT'S NOT A MOVIE!</h1>
<% end %>